/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}


/*/////// LAYOUT STYLES ////////*/

.row {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}